{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
  <title>EMC - Admin Dashboard</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
  
  <!-- Feathericon CSS -->
    <link rel="stylesheet" href="{% static 'HealthStack-System/admin_assets/css/feathericon.min.css'%}" />

    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/admin/morris/morris.css'%}" />

    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="{% static 'HealthStack-System/css/admin/new/dashboard.css'%}" /> -->
    <link rel="stylesheet" href="{% static 'css/Ultra/admin/admin-dashboard.css'%}" />
</head>


<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <nav class="nav-icons">
        <!-- Expand icon goes here -->
        <i class="fas fa-house-chimney"></i>       
        <i class="fas fa-user-plus"></i>
        <i class="fas fa-bed"></i>
        <i class="fas fa-laptop-medical"></i>
        <i class="fas fa-credit-card"></i>
        <i class="fas fa-vial"></i>
        <i class="fas fa-radiation"></i>
        <i class="fas fa-briefcase-medical"></i>
        <i class="fas fa-chart-bar"></i>
        <i class="fas fa-brain"></i>
      </nav>
    </aside> <!-- Sidebar -->

    <!-- Main Content -->
    <main class="main">
      <div class="logo">EMC clinic</div>

      <!-- Dashboard -->
      <div class="dashboardd">
        <!-- Header -->
        <header class="header">
          <h1>Welcome back, Admin</h1>
          <div class="search-user">
            <input type="text" placeholder="Search by name, number or ID" />
          </div>
        </header> <!-- Header -->
  
        <!-- Dashboard Cards First Row-->
        <section class="cards">

          <!-- Top Treatments -->
          <div class="card">
            <h3>Top Treatments</h3>
            <ul>
              <li>Malaria</li>
              <li>Hypertension</li>
              <li>HIV</li>
            </ul>
            <a href="#">View more</a>
          </div>

          <!-- Top Patients -->
          <div class="card">
            <h3>Top Patients</h3>
            <ul>
              <li>All patients <span>{{total_patient_count.count}}</span></li>
              <li>In-patients <span>-</span></li>
              <li>Discharged <span>-</span></li>
            </ul>
            <a href="#">View more</a>
          </div>

          <!-- Top Appointments -->
          <div class="card">
            <h3>Top Appointments</h3>
            <ul>
              <li>GOPD <span>67</span></li>
              <li>POPD <span>43</span></li>
              <li>SOPD <span>28</span></li>
            </ul>
            <a href="#">View more</a>
          </div>
      </section> <!-- Dashboard Cards First Row-->

      <!-- Dashboard Cards Second Row-->
      <section class="cards">

        <!-- Quick Actions -->
        <div class="card quickActionsCard">
          <h3 style='color: white; margin-bottom: 25px'>Quick Actions</h3>
          <ul>
            <li>
              <h3 style='color: white; font-weight: 500'>Add Emergency Patient<h3>
                <span><button class='add-button'>+ Add patient</button></span>
              </li>
            <li>
              <h3 style='color: white; font-weight: 500'>Generate A Bill</h3>
              <span><button class='add-button'>+ Add bill</button></span>
            </li>
          </ul>
        </div>

        <!-- Top Services -->
        <div class="card">
          <h3>Top Services</h3>
          <h3 style='color: #99a1af; text-align: center;'>Nothing to see</h3>
        </div>
      </section> <!-- Dashboard Cards Second Row-->

        </div> <!-- Dashboard -->
      </div> <!-- Main Content Div -->
    </main>

  </div>
</body>
</html>

